@tailwind base;
@layer base {
    * {
        @apply m-0;
        @apply p-0;
        @apply box-border;
    }

    body {
        @apply h-screen;
        @apply overflow-auto;
        @apply bg-zinc-900;
    }

    main {
        position: relative;
        top: 48px;
        height: calc(100vh - 48px);
    }

    #post-listings-container {
        scrollbar-color: #3f3f46 #52525b;
    }

    #__next {
        @apply h-full;
    }
}
@tailwind components;
@tailwind utilities;